In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
df = pd.read_csv(r"~\OneDrive\Documents\GitHub\fao-dashboard-project\data\external\ConsumerPriceIndices_E_All_Data_NOFLAG.csv", encoding="latin-1")
df.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Months Code,Months,Unit,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
0,2,'004,Afghanistan,23013,"Consumer Prices, Food Indices (2015 = 100)",6125,Value,7001,January,Index,...,99.530273,102.473425,103.618233,108.520050,114.527725,114.054183,120.880724,128.251956,153.851465,158.736219
1,2,'004,Afghanistan,23013,"Consumer Prices, Food Indices (2015 = 100)",6125,Value,7002,February,Index,...,99.229332,100.599141,103.967168,108.701492,113.437296,113.597099,120.900114,127.332161,155.173082,159.969363
2,2,'004,Afghanistan,23013,"Consumer Prices, Food Indices (2015 = 100)",6125,Value,7003,March,Index,...,99.972543,99.388333,104.236245,114.689456,112.827883,115.785785,121.659358,127.699447,155.096341,158.795801
3,2,'004,Afghanistan,23013,"Consumer Prices, Food Indices (2015 = 100)",6125,Value,7004,April,Index,...,101.823335,99.195658,104.779901,114.595556,111.659316,117.371378,136.811308,130.335891,161.336283,156.018562
4,2,'004,Afghanistan,23013,"Consumer Prices, Food Indices (2015 = 100)",6125,Value,7005,May,Index,...,102.051270,99.034873,104.226511,115.403680,111.214302,119.044418,134.430757,132.280617,163.012382,153.477296